# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/.stryker-tmp

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Prisma
src/generated

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
reports

# DAX CLI
code_dump.md

# profiler / clinic
.clinic/
*.cpuprofile
isolate-*.log

# artifacts (лучше игнорить всё и потом "форсить" нужное)
artifacts/*
!artifacts/.gitkeep
!artifacts/k6-output.txt
!artifacts/k6-summary.json
!artifacts/lighthouse.swagger.html
!artifacts/lighthouse.swagger.json
!artifacts/db-top-queries.txt
!artifacts/explain-1.txt
!artifacts/api-log.txt