version: '3.8'

services:
  postgres-test:
    image: postgres:15
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: uniflow_test
